/* --------------- Footer ---------------  */

.page-footer {
  background-color: grey;
  width: 100%;
}

/* --------------- Offers ---------------  */
/* https://blog.hubspot.com/website/center-div-css */
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}


.offer img {
  max-width: 100%;
  width: 250px;
  height: auto;
}

/* https://stackoverflow.com/questions/49404138/bootstrap-4-how-to-center-a-card */
.card {
  width: 21.5em;
  margin: 0 auto;
}

/* https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* --------------- Links ---------------  */

/* Hero Image Section Links */

 .hero-section a {
  background-color: #646569;
  color: #fff;
  padding: 5px;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.6;
}

 .hero-section a:hover {
  background-color: #A87B4F;
}

.hero-section a:active {
  background-color: #A87B4F;
}

/* --------------- Menu ---------------  */

#mobile-brand {
    letter-spacing: 3px;
    font-size: 23px;

}

/* Overriding rules in Bootstrap class */
.navbar-toggler {
  border: none;
  font-size: 20px;
}