/* --------------- Footer ---------------  */

.page-footer {
  background-color: grey;
  width: 100%;
}

/* --------------- Offers ---------------  */
/* https://blog.hubspot.com/website/center-div-css */
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}


.offer img {
  max-width: 100%;
  width: 250px;
  height: auto;
}

/* https://stackoverflow.com/questions/49404138/bootstrap-4-how-to-center-a-card */
.card {
  width: 21.5em;
  margin: 0 auto;
}

/* https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

